body {
  background: #fff;
  font-family: "Open Sans", "Microsoft Yahei", "Simhei", sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
ul {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, label, p {
  margin: 0;
}
.header {
  background: url(../images/banner.png) no-repeat left bottom;
  width: 100%;
  min-height: 1000px;
  display: block;
  background-size: cover;
  text-align: center;
}
.header-in {
  background: url(../images/banner.png) no-repeat top;
  width: 100%;
  min-height: 100px;
  display: block;
  background-size: cover;
  text-align: center;
}
.header-logo {
  display: none;
}
.top-menu ul li {
  position: relative;
  display: inline-block;
  outline: none;
  color: #eee;
  text-decoration: none;
  text-shadow: 0 0 .4em rgba(0, 0, 0, .5);
  font-size: 1.2em;
  padding: 0em 1em;
  font-weight: 700;
  vertical-align: middle;
}
.top-menu {
  padding: 2em 0;
}
.top-nav span.menu:before {
  content: url(../images/menu.png) no-repeat 0px 0px;
  cursor: pointer;
  width: 100%;
}
.top-nav span.menu {
  display: none;
}
.question {
  background: #f7f7f9;
  margin-top: 6em;
}
.question h3 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 400;
  padding: 2em 0;
}
.question ul {
  list-style: none;
}
.question li {
  padding: 1.5em;
}
.question li h4 {
  font-size: 1.8em;
  padding: .5em 0;
  color: #000080;
}
.question li p {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: normal;
}
.copyright span {
  display: inline-block;
  padding-right: 1em;
}
.header-top {
  padding: 2em 0;
}
.header-top * {
  text-shadow: 0 .2em .6em rgba(0, 0, 0, .7);
}
.header-top img {
  margin: 0 auto;
}
.header-top h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
.header-top h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
}
.header-top h1 span {
  display: block;
  font-size: .8em;
  font-weight: 100;
}
p.to-do {
  color: #fff;
  font-size: 2em;
}
p.have {
  color: #fff;
  font-size: 2em;
  padding: .3em 0 .6em;
  text-transform: uppercase;
  font-weight: 100;
}
.content-top-grid {
  padding: 0 0 4em;
}
.content-top-bottom h3,
.content-top-at h3 {
  color: #222;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.5em;
}
.content-top-bottom p,
.content-top-at p {
  color: #222;
  font-size: 1.2em;
  line-height: 1.7em;
  padding: 1em 0 0;
}
.content-top-at p span {
  display: block;
  padding: 2em 0 0;
}
.content-top-at {
  padding: 2em 1em 0;
}
.content-top-bottom {
  padding: 6em 1em 0;
}
.content-middle {
  background: url(../images/back.png) no-repeat 0px 0px;
  width: 100%;
  min-height: 785px;
  display: block;
  background-size: cover;
  text-align: center;
}
.content-middle h2 {
  color: #eee;
  text-shadow: 0 .2em .6em rgba(0, 0, 0, .7);
  margin: 0 auto;
  font-size: 3em;
  line-height: 4em;
  padding: 4.7em 0 0em;
}
.content-middle p {
  color: #eee;
  text-shadow: 0 0 .4em rgba(0, 0, 0, .5);
  font-size: 1.7em;
  width: 50%;
  margin: 1.5em auto;
  text-transform: uppercase;
  line-height: 1.7em;
}
a.register {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
  border: 3px solid #f39c12;
  border-radius: 2.7em;
  padding: 0.7em 3em;
  font-weight: 700;
}
a.register:hover {
  color: #fff;
  background: #f39c12;
}
p.para-in {
  color: #000;
  font-size: 1.3em;
}
p.para-in strong {
  color: #d00;
}
i.dolor {
  position: absolute;
  right: 0;
  background: url(../images/arr.png) no-repeat 0px 0px;
  width: 400px;
  min-height: 5em;
}
.men-grid {
  position: absolute;
  right: 0;
  bottom: -1em;
}
.bottom-in {
  padding: 3em 0 7em;
  position: relative;
}
.bottom-in img {
  border-radius: 5em;
}
.content-bottom h3 {
  color: #000;
  font-size: 2.5em;
  line-height: 4em;
  font-weight: 400;
  text-align: center;
}
.men-top {
  float: left;
}
.men {
  float: left;
  padding: 1em 1em 0em;
}
.men span {
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
}
.men p {
  color: #222;
  font-size: 1.1em;
}
.name-on {
  padding-top: 8em;
}
.footer {
  position: relative;
  background: #f7f7f9 url(../images/back2.png) no-repeat top;
  width: 100%;
  min-height: 600px;
  display: block;
  background-size: cover;
  padding: 15em 0 10em;
}
.amet-sed h4 {
  font-size: 2em;
  color: #f39c12;
  text-transform: uppercase;
}
.amet-sed p {
  font-size: 1.4em;
  color: #fff;
  line-height: 1.6em;
}
.amet-sed p span {
  display: block;
}
.amet-sed p label {
  color: #f39c12;
}
.amet-sed p a {
  color: #f39c12;
  text-decoration: none;
}
.nav-bottom li {
  list-style: none;
  line-height: 2em;
}
.nav-bottom li span {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}
.flan {
  padding: 1em 0;
}
.amet-sed-box {
  padding-bottom: 1em;
}
.amet-sed-top {
  padding-left: 4em;
}
.amet-sed-top p {
  color: #e5e6e7;
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 100;
}
.amet-sed-top p span {
  display: block;
}
.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 1.2em;
  padding: 1.5em 0;
  background: #222;
}
.copyright .master {
  color: #f39c12;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
.copyright a:hover {
  color: #f39c12;
}
.tel, #toTop {
  display: none;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  text-align: center;
  background: #fff;
  color: #f39c12;
  border: 3px #f39c12 solid;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  box-sizing: border-box;
}
#toTop {
  font-size: 16px;
  line-height: 36px;
}
#toTop>span {
  margin-left: -1px;
}
.tel {
  display: block;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1;
  bottom: 80px;
}
.policy {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.4em;
}
@media (max-width: 1440px) {
  .content-middle h2 {
    padding: 3.75em 0 0em;
  }
}
@media (max-width: 1366px) {
  .content-middle h2 {
    padding: 3.4em 0 0em;
  }
  .content-middle p {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1280px) {
  .content-middle h2 {
    padding: 2.9em 0 0em;
  }
  .amet-sed-top {
    padding-left: 1em;
  }
  .question li h4 {
    font-size: 1.5em;
  }
  .question li p {
    font-size: 1.3em;
  }
}
@media (max-width: 1024px) {
  .content-middle h2 {
    padding: 1.5em 0 0em;
  }
  p.para-in {
    width: 100%;
  }
  .amet-sed-top {
    padding-left: 1em;
  }
  .question li h4 {
    font-size: 1.4em;
  }
  .question li p {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .top-menu {
    display: none;
  }
  .header-logo {
    display: block;
    margin-top: 1em;
  }
  .top-nav {
    float: right;
    padding-top: 6px;
  }
  .top-nav ul {
    display: none;
    position: absolute;
    width: 96.5%;
    z-index: 9999;
    left: 2%;
    margin: 1em 0;
    background: #f39c12;
  }
  .top-nav span.menu {
    display: block;
    width: 100%;
    position: relative;
    height: 30px;
  }
  .top-nav ul li,
  .top-nav ul li.active {
    display: block;
    padding: 0.5em 0;
    text-align: center;
  }
  .header {
    min-height: 910px;
  }
  .content-middle p {
    width: 90%;
  }
  .name-on {
    padding-top: 0;
  }
  .amet-sed {
    border-right: none;
    text-align: center;
  }
  .amet-sed-top {
    padding: 0 2em;
  }
  .amet-sed-box {
    padding: 1em;
  }
  .footer {
    padding: 10em 0 9em;
  }
  .nav-bottom li,
  .copyright {
    text-align: center;
  }
  .copyright {
    padding: 1.5em;
  }
  .copyright span {
    display: block;
    text-align: left;
  }
  .header-in {
    min-height: 80px;
  }
  ul.links {
    margin: 2em 0em 0;
  }
  ul.links_middle {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .content-middle p {
    font-size: 1.4em;
  }
  .content-middle {
    min-height: 610px;
  }
  .copyright {
    padding: 1.5em 2em;
  }
  .copyright span {
    display: block;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 70%;
    margin: .4em auto 0;
  }
  .logo img {
    width: 100%;
  }
  .header-top img {
    display: none;
  }
  .header-top h2 {
    font-size: 1.5em;
  }
  p.to-do {
    font-size: 1em;
  }
  .header-top h1 {
    font-size: 2em;
  }
  p.have {
    display: none;
  }
  .header {
    min-height: 316px;
  }
  .content-top-bottom h3,
  .content-top-at h3 {
    font-size: 1.6em;
  }
  .content-middle h2 {
    font-size: 2em;
    padding: 2em 0 0;
    line-height: 1em;
  }
  .content-top-bottom {
    padding: 3em 1em 0;
  }
  .content-middle p {
    font-size: 1.2em;
  }
  .content-middle {
    min-height: 457px;
  }
  a.register {
    padding: .2em 1.2em;
    margin: .3em auto;
  }
  .content-bottom h3 {
    font-size: 2em;
  }
  .question h3 {
    font-size: 2em;
    line-height: 1em;
    padding: 1em 0;
  }
  .question ul {
    list-style: none;
  }
  .question li {
    padding: 1em;
  }
  .question li h4 {
    font-size: 1.5em;
    padding: .2em 0;
  }
  .question li p {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .men-grid {
    bottom: -2em;
  }
  .bottom-in {
    padding: 2em 0 5em;
  }
  .nav-bottom li {
    text-align: center;
  }
  .nav-bottom li span {
    font-size: 1.3em;
  }
  .amet-sed-top p {
    font-size: 1.2em;
  }
  .footer {
    padding: 9em 0 10em;
  }
  .copyright {
    padding: 1.5em 0;
  }
  .copyright span {
    display: block;
    text-align: left;
  }
  .sed-in h4 {
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 75%;
    margin: 1.5em auto .5em;
  }
  .header-top h2 {
    font-size: 1.2em;
  }
  .header-top h1 {
    font-size: 1.5em;
  }
  .header {
    min-height: 27em;
  }
  .content-top-bottom h3,
  .content-top-at h3 {
    font-size: 1.2em;
  }
  .content-top-bottom p,
  .content-top-at p {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 0 0;
    height: 75px;
    overflow: hidden;
  }
  .content-top-grid {
    padding: 0 0 1em;
  }
  .content-middle h2 {
    font-size: 2em;
    padding: 1.8em 0 0;
    line-height: 1em;
  }
  .content-middle p {
    font-size: 1.1em;
    margin: 2em auto;
    line-height: 1em;
  }
  a.register {
    padding: 0.4em 1.5em;
    font-size: 1em;
    margin: 1em auto;
  }
  .content-middle {
    min-height: 342px;
  }
  .content-bottom h3 {
    font-size: 1.5em;
  }
  p.para-in {
    font-size: 1em;
    height: 63px;
    overflow: hidden;
  }
  i.dolor {
    width: 218px;
    min-height: 42px;
    margin: 0em;
    background-size: 212px;
  }
  .men span {
    font-size: 1em;
  }
  .men p {
    font-size: 1em;
  }
  .bottom-in {
    padding: 1em 0 4em;
  }
  .question h3 {
    font-size: 1.5em;
    line-height: 1em;
    padding: 2em 0;
  }
  .question ul {
    list-style: none;
  }
  .question li {
    padding: 1em;
  }
  .question li h4 {
    font-size: 1.2em;
    padding: .2em 0;
  }
  .question li p {
    font-size: 1em;
    line-height: 1em;
  }
  .amet-sed h4 {
    font-size: 1.5em;
  }
  .amet-sed p {
    font-size: 1.1em;
  }
  .amet-sed p {
    font-size: 1em;
  }
  .nav-bottom li {
    text-align: center;
  }
  .nav-bottom li span {
    font-size: 1em;
  }
  .amet-sed-top {
    padding: 0 1em;
  }
  .amet-sed-top p {
    font-size: 1em;
  }
  .copyright {
    padding: 1em 0;
    font-size: 1em;
  }
  .copyright span {
    display: block;
    text-align: left;
  }
  .content-top-bottom {
    padding: 1em 1em 0;
  }
  .footer {
    padding: 7em 0 8em;
  }
}
